@media (min-width: 0px) and (max-width: 575px) {
    /* Your styles for extra small devices */
    .top-nav {
        justify-content: center !important;
    }
  }
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {
    /* Your styles for small devices */
    .top-nav {
        justify-content: center !important;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {
    /* Your styles for medium devices */
    .top-nav {
        justify-content: center !important;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199px) {
    /* Your styles for large devices */
    .nav-top-hidden {
        display: inline-block;
        display: flex !important;
    }
    /* .nav-top-icon {
      display: none !important;
    } */
  }
  
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1399px) {
    /* Your styles for x-large devices */
    .nav-top-hidden {
        display: inline-block;
        display: flex !important;
    }
    /* .nav-top-icon {
      display: none !important;
    } */
  }
  
  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    /* Your styles for xx-large devices */
    .nav-top-hidden {
        display: inline-block;
        display: flex !important;
    }
    /* .nav-top-icon {
      display: none !important;
    } */
  }	
  