*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;


}
.nav-top-bg {
    background-color: #f5f5f5;
}
ul {
    list-style-type: none;
}
a {
    display: block;
    text-decoration: none;
    color: white;
}
p {
    margin-bottom: 0 !important;
}
.top-nav-pad {
    /* padding: 16px 10px; */
    color: #6c757d;
    font-size: 1rem;
    /* font-weight: 400; */
}

.cirlce-icon-nav {
    border-radius: 50%;
    padding: 0 6px;
    border: 1px solid black;
}
/* .mid-nav-text {
    font-size: 3.5rem;

} */
.btn-default {
    background: rgb(255, 255, 255);
      /* color: #fff; */
      border: 1px solid #dcd6d6;
      /* border-radius: 0; */
    }

    .sizing-srch-icon {
        max-width: 33%;
    }
    .toggles-spacer::after {
        margin-left: 17rem !important;
    }
    .nav-size {
        font-size: 0.85rem !important;
        padding: 5px 8px;
    }
    .carouse-coloring {
        filter: brightness(0.6);
    }
    .carousel-indicators [data-bs-target] {
        width: 20px;
    }
    .carousel-indicators .active {
        width: 30px;
    }
    .offer-bg-img {
        height: 203px;
    }
    .offer-bg-img::before {
        content: "";
        background-image: url(../images/offer-1.jpg);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
        filter: brightness(0.8) contrast(0.6);
         z-index: -1;
         transition: .5s ease-in-out;
    }
    .offer-bg-img:hover::before {
        transform: rotate(5deg) scale(1.3);
        
    }
    .offer-bg-img2 {
        height: 203px;
    }
    .offer-bg-img2::before {
        content: "";
        background-image: url(../images/offer-2.jpg);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
        filter: brightness(0.8) contrast(0.6);
         z-index: -1;
         transition: .5s ease-in-out;
    }
    .offer-bg-img2:hover::before {
        transform: rotate(5deg) scale(1.3);
        
    }
    
.supporting-call {
    transform: rotate(45deg);
}

.dashed-line {
    
    border-bottom: 1px dotted gray;
    width: 100%;

}
.card-zoomer:hover .img-fluid {
    transform: rotate(6deg) scale(1.2);
    
}
.card-zoomer:hover .color-changer {
    background: #FFD333;
    
}
.color-changer {
    transition: .5s ease-in-out;

    
}
.img-fluid {
    transition: .5s ease-in-out;
    height: 100px;
    width: 100%;
    
}
.small-ratings i{
    color:#cecece;   
  }
  
  .review-stat{
      font-weight:300;
      font-size:18px;
      margin-bottom:2px;
  }
  .rating-color{
    color:#fbc634 !important;
}
.product-title:hover {
    color: #fbc634 !important;
}
.product-image {
    transition: .5s ease-in-out;
    
}
.product-work:hover .product-image {
    transform: scale(1.2);
    filter: opacity(0.4);
}
.product-icons {
    opacity: 0%;
    transition: .5s ease-in-out;

}
.product-work:hover .product-icons {
    opacity: 100%;
    
}
.product-icons a:hover {
    color: #fbc634 !important;
    
}
/* .product-work:hover .product-trans {
    transform: translateY(0px);
    transition:  ease-in-out;
}
.product-work:hover .product-trans2 {
    transform: translateY(0px);
    transition:  ease-in-out 0.1s;
}
.product-work:hover .product-trans3 {
    transform: translateY(0px);
    transition: ease-in-out .2s;
} */

.product-work .product-trans ,.product-work .product-trans2 , .product-work .product-trans3 , .product-work .product-trans4 {
    transform: translateY(50px);
    /* transition: .1s ease-in-out .3s; */
    opacity: 0;
    border: 2px solid black;
   
}
.product-work:hover  .product-trans {
    transform: translateY(0px);
    transition: ease-in-out .3s;
    opacity: 100;
}
.product-work:hover  .product-trans2 {
    transform: translateY(0px);
    transition: ease-in-out .4s;
    opacity: 100;

}
.product-work:hover  .product-trans3 {
    transform: translateY(0px);
    transition: ease-in-out .5s;
    opacity: 100;

}
.product-work:hover  .product-trans4 {
    transform: translateY(0px);
    transition: ease-in-out .6s;
    opacity: 100;

}
.search-btn {
    border: 1px solid #ced4da;
}
.search-btn:hover {
    background-color: white !important;
}
.product-bg {
    background-color: #F5F5F5 !important
}
.section-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    border-top: 1px dashed #bec5cb;
    z-index: -1;
}
.offer-bg {
    height: 300px;
}
.back-contact-color {
    background-color: #3D464D !important;
}
.slider-vendor {
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.slider-vendor::-webkit-scrollbar {
    height: 0;
}
.active {
    color: #FFD333 !important;
}
.clicker-nav:hover{
    color: #FFD333 !important ;
}
.social-color:hover{
    color: #3D464D !important;
    background-color: #ffcb0d;
}
div.breadcrumb a+a:before {
    padding: 8px;
    /* color: rgb(255, 255, 255); */
    /* content: "/\00a0"; */
    content: "/\00a0";
}
div.breadcrumb span:before {
    padding: 8px;
    /* color: rgb(255, 255, 255); */
    /* content: "/\00a0"; */
    content: "/\00a0";
}
.form-check-input:checked {
    background-color: #FFD333;
    border-color: #ffd333;
}
.paginate-bg {
    background-color: #FFD333 !important;
}
.bg-color-end {
    background-color: #3D464D !important;
}
.carousel-dark .carousel-control-prev-icon {
    filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
}

span.minus11 {cursor:pointer; }
.number11{
    width: fit-content;
    background-color: rgb(255, 193, 7);
}
.minus11, .plus11{
    width: 37px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.input11{
        width: 55px;
        text-align: center;
        font-size: 18px;
        padding: 6px;
        border: 1px solid #ddd;
      
        display: inline-block;
        vertical-align: middle;
        background-color: #F5F5F5 !important;
} 

.nav-tabs li.active {
    background-color: #F5F5F5;;
    border: 1px solid transparent;
    border-color: #dee2e6 #dee2e6 #F5F5F5;
}
.image-profile-user {
    width: 45px;
    height: 45px;
    max-width: 100%;
}
.shopper li a.active {
    background-color: #ffc107;
    color: rgb(255, 255, 255) !important;
    
}
.table-image {
    width: 45px;
}
.border-table {
    border-bottom: 15px solid #f5f5f5;
}

/* Small screens (sm) */
@media only screen and (max-width: 574px) {
    .font-size-xs-1 { font-size: 1px; }
    .font-size-xs-2 { font-size: 2px; }
    .font-size-xs-3 { font-size: 3px; }
    .font-size-xs-4 { font-size: 4px; }
    .font-size-xs-5 { font-size: 5px; }
    .font-size-xs-6 { font-size: 6px; }
    .font-size-xs-7 { font-size: 7px; }
    .font-size-xs-8 { font-size: 8px; }
    .font-size-xs-9 { font-size: 9px; }
    .font-size-xs-10 { font-size: 10px; }
    .font-size-xs-11 { font-size: 11px; }
    .font-size-xs-12 { font-size: 12px; }
    .font-size-xs-13 { font-size: 13px; }
    .font-size-xs-14 { font-size: 14px; }
    .font-size-xs-15 { font-size: 15px; }
    .font-size-xs-16 { font-size: 16px; }
    .font-size-xs-17 { font-size: 17px; }
    .font-size-xs-18 { font-size: 18px; }
    .font-size-xs-19 { font-size: 19px; }
    .font-size-xs-20 { font-size: 20px; }
    .font-size-xs-21 { font-size: 21px; }
    .font-size-xs-22 { font-size: 22px; }
    .font-size-xs-23 { font-size: 23px; }
    .font-size-xs-24 { font-size: 24px; }
    .font-size-xs-25 { font-size: 25px; }
    .font-size-xs-26 { font-size: 26px; }
    .font-size-xs-27 { font-size: 27px; }
    .font-size-xs-28 { font-size: 28px; }
    .font-size-xs-29 { font-size: 29px; }
    .font-size-xs-30 { font-size: 30px; }
  }
@media only screen and (min-width: 575px) {
    .font-size-sm-1 { font-size: 1px; }
    .font-size-sm-2 { font-size: 2px; }
    .font-size-sm-3 { font-size: 3px; }
    .font-size-sm-4 { font-size: 4px; }
    .font-size-sm-5 { font-size: 5px; }
    .font-size-sm-6 { font-size: 6px; }
    .font-size-sm-7 { font-size: 7px; }
    .font-size-sm-8 { font-size: 8px; }
    .font-size-sm-9 { font-size: 9px; }
    .font-size-sm-10 { font-size: 10px; }
    .font-size-sm-11 { font-size: 11px; }
    .font-size-sm-12 { font-size: 12px; }
    .font-size-sm-13 { font-size: 13px; }
    .font-size-sm-14 { font-size: 14px; }
    .font-size-sm-15 { font-size: 15px; }
    .font-size-sm-16 { font-size: 16px; }
    .font-size-sm-17 { font-size: 17px; }
    .font-size-sm-18 { font-size: 18px; }
    .font-size-sm-19 { font-size: 19px; }
    .font-size-sm-20 { font-size: 20px; }
    .font-size-sm-21 { font-size: 21px; }
    .font-size-sm-22 { font-size: 22px; }
    .font-size-sm-23 { font-size: 23px; }
    .font-size-sm-24 { font-size: 24px; }
    .font-size-sm-25 { font-size: 25px; }
    .font-size-sm-26 { font-size: 26px; }
    .font-size-sm-27 { font-size: 27px; }
    .font-size-sm-28 { font-size: 28px; }
    .font-size-sm-29 { font-size: 29px; }
    .font-size-sm-30 { font-size: 30px; }
  }
  
  /* Medium screens (md) */
  
  @media only screen and (min-width: 768px) {
    .font-size-md-1 { font-size: 1px; }
    .font-size-md-2 { font-size: 2px; }
    .font-size-md-3 { font-size: 3px; }
    .font-size-md-4 { font-size: 4px; }
    .font-size-md-5 { font-size: 5px; }
    .font-size-md-6 { font-size: 6px; }
    .font-size-md-7 { font-size: 7px; }
    .font-size-md-8 { font-size: 8px; }
    .font-size-md-9 { font-size: 9px; }
    .font-size-md-10 { font-size: 10px; }
    .font-size-md-11 { font-size: 11px; }
    .font-size-md-12 { font-size: 12px; }
    .font-size-md-13 { font-size: 13px; }
    .font-size-md-14 { font-size: 14px; }
    .font-size-md-15 { font-size: 15px; }
    .font-size-md-16 { font-size: 16px; }
    .font-size-md-17 { font-size: 17px; }
    .font-size-md-18 { font-size: 18px; }
    .font-size-md-19 { font-size: 19px; }
    .font-size-md-20 { font-size: 20px; }
    .font-size-md-21 { font-size: 21px; }
    .font-size-md-22 { font-size: 22px; }
    .font-size-md-23 { font-size: 23px; }
    .font-size-md-24 { font-size: 24px; }
    .font-size-md-25 { font-size: 25px; }
    .font-size-md-26 { font-size: 26px; }
    .font-size-md-27 { font-size: 27px; }
    .font-size-md-28 { font-size: 28px; }
    .font-size-md-29 { font-size: 29px; }
    .font-size-md-30 { font-size: 30px; }
  }
  
  /* Large screens (lg) */
  @media only screen and (min-width: 992px) {
    .font-size-lg-1 { font-size: 1px; }
    .font-size-lg-2 { font-size: 2px; }
    .font-size-lg-3 { font-size: 3px; }
    .font-size-lg-4 { font-size: 4px; }
    .font-size-lg-5 { font-size: 5px; }
    .font-size-lg-6 { font-size: 6px; }
    .font-size-lg-7 { font-size: 7px; }
    .font-size-lg-8 { font-size: 8px; }
    .font-size-lg-9 { font-size: 9px; }
    .font-size-lg-10 { font-size: 10px; }
    .font-size-lg-11 { font-size: 11px; }
    .font-size-lg-12 { font-size: 12px; }
    .font-size-lg-13 { font-size: 13px; }
    .font-size-lg-14 { font-size: 14px; }
    .font-size-lg-15 { font-size: 15px; }
    .font-size-lg-16 { font-size: 16px; }
    .font-size-lg-17 { font-size: 17px; }
    .font-size-lg-18 { font-size: 18px; }
    .font-size-lg-19 { font-size: 19px; }
    .font-size-lg-20 { font-size: 20px; }
    .font-size-lg-21 { font-size: 21px; }
    .font-size-lg-22 { font-size: 22px; }
    .font-size-lg-23 { font-size: 23px; }
    .font-size-lg-24 { font-size: 24px; }
    .font-size-lg-25 { font-size: 25px; }
    .font-size-lg-26 { font-size: 26px; }
    .font-size-lg-27 { font-size: 27px; }
    .font-size-lg-28 { font-size: 28px; }
    .font-size-lg-29 { font-size: 29px; }
    .font-size-lg-30 { font-size: 30px; }
  }

  #scrollUp {
    bottom: 20px;
    right: 20px;
    background-image: url("top-removebg-preview.png");
    border-radius: 50px;
    width: 38px;
    height: 38px;
}